<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<% @places.each do |place| %>
			<div class="booyah-box col-10 offset-1">
				<h1><%= link_to place.name, place_path(place), class: 'dark_link' %></h1>
				<i><%= place.address %></i><br /><br />
				<p><%= place.description %></p><br />
			
			
			<% if place.user.present? %>
				<small><%= place.user.email %></small>
			<% end %>
			</div>

		<% end %>
		<div class="a_pagination">
			<div class="page_info">
				<%= page_entries_info @posts %>
			</div>
			<%= will_paginate @posts, :container => false %>
		</div>

	</body>
</html>