<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
<!-- 		<div class="carousel-box"> -->
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="carousel-item active">
						<%= image_tag 'coffeeshop.jpeg', class: 'd-block w-100 img-fluid' %>
						<div class="carousel-caption d-none d-md-block">
							<h1>Find The Best Coffee Shops</h1>
						</div>
					</div>
					<div class="carousel-item">
						<%= image_tag 'lunch.jpeg', class: 'd-block w-100 img-fluid' %>
						<div class="carousel-caption d-none d-md-block">
							<h1>Find The Best Restaurants.</h1>
						</div>
					</div>
					<div class="carousel-item">
						<%= image_tag 'shops.jpeg', class: 'd-block w-100 img-fluid' %>
						<div class="carousel-caption d-none d-md-block">
							<h1>Find The Best Shops.</h1>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
<!-- 		</div> -->
	
		<% @places.each do |place| %>
		
		
			<div class="booyah-box col-10 offset-1">
				<div class="row">
					<div class="col-7">
						<h1><%= link_to place.name, place_path(place), class: 'dark_link' %></h1>
						<i><%= place.address %></i><br /><br />
						<p><%= place.description %></p><br />
						
						<% if place.user.present? %>
							<small><%= place.user.email %></small>
						<% end %>
						
						<% if place.comments.present? %>
						<div class="col-12">
							<blockquote>
								<% if place.comments.last.humanized_rating.present? %>
									<b><%= place.comments.last.humanized_rating %></b><br />
								<% end %>
								<%= place.comments.last.message %><br />
								<small><%= place.comments.last.user.email %></small>
							</blockquote>
						</div>
						<% end %>
					</div>
					<% if place.photos.present? %>
					<div class="col-4 polaroid">
							<% if place.photos.last.picture.present? %>
								<%= image_tag place.photos.last.picture.url %>
							<% end %>
						
						<div class="container">
							<p><%= place.photos.last.caption %></p>
							<small><%= place.photos.last.user.email %></small>
						</div>
					</div>
					<% end %>
			
			
			
			
			
		
		</div>
		</div>

		<% end %>
		
		
		
		
		<div class="a_pagination">
			<div class="page_info">
				<%= page_entries_info @posts %>
			</div>
			<%= will_paginate @posts, :container => false %>
		</div>

	</body>
</html>